<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itsnowball.aicomposer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppInitialize"
        android:allowBackup="true"
        android:icon="@mipmap/icon_image"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SociallistActivity"
            android:label="@string/title_activity_sociallist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PostActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignUpSocialActivity" />
        <activity android:name=".AgreementActivity" />
        <activity android:name=".PersonalActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".AccountSettingActivity" />
        <activity android:name=".MadeByActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".WithdrawActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".KakaoTalkSendActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".MakeMusicActivity" />
        <activity android:name=".MyListActivity" />
        <activity android:name=".TeachActivity" />
        <activity android:name=".CreditActivity"></activity>
    </application>

</manifest>